@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Cabin:400');
*{
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
    font-family: 'Cabin', sans-serif;
  margin: 0;
  padding: 0;
  font-weight: 400;
}

html{
  background-color:#f8f9fc;
}

h2{
width: 440px;
height: 27px;
color: #303a46;
font-family: Cabin;
font-size: 22px;
font-weight: 400;
letter-spacing: 2.2px;
text-align: center;
}

 
.quotes{
  height: 260px;
  width: 861px;
  background-color: #fff;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

@keyframes fadeInT { 
  0% { opacity: 1; }
  66% { opacity: 0.3; } 
  100% { opacity: 1; } 
}

.load_txt{
  animation: fadeInT 1.5s infinite cubic-bezier(0.645, 0.045, 0.355, 1.000);
  margin:137px 0px 0px 210px;
  position: absolute;
  z-index: 2;
  opacity: 1;
}

@keyframes fadeIn { 
  0% { opacity: 1; }
  66% { opacity: 0.2; } 
  100% { opacity: 1; } 
}

.q1{
  animation: fadeIn 2s infinite cubic-bezier(0.645, 0.045, 0.355, 1.000);
  height: 87px;
  width: 861px;
  margin:0px 0px 0px 0px;
  position: absolute;
  opacity: 1;
}
.q2{
  animation: fadeIn 2s infinite cubic-bezier(0.645, 0.045, 0.355, 1.000);
  animation-delay: 0.5s;
  height: 87px;
  width: 861px;
  margin:86px 0px 0px 0px;
  position: absolute;
  opacity: 1;
}
.q3{
  animation: fadeIn 2s infinite cubic-bezier(0.645, 0.045, 0.355, 1.000);
  animation-delay: 1s;
  height: 87px;
  width: 861px;
  margin:172px 0px 0px 0px;
  position: absolute;
  opacity: 1;
}

.stars{
  position: absolute;
  margin:14px 0px 0px 34px;
  width:110px;
  height:20px;
  overflow:hidden;
}

.star{
  display: inline-block;
  margin:1px;
}

.tit{
position: absolute;
margin:36px 0px 0px 34px;
width: 120px;
height: 16px;
background-color: #f8f9fc;
}

.sub{
position: absolute;
margin:62px 0px 0px 34px;
width: 76px;
height: 10px;
background-color: #f8f9fc;
} 

.p_txt{
position: absolute;
margin:27px 0px 0px 233px;
left: 0; right: 0;
width: 17px;
height: 16px;
background-color: #f8f9fc;
}

.t_txt{
position: absolute;
margin:48px 0px 0px 222px;
width: 40px;
height: 10px;
background-color: #f8f9fc;
}

.p_txt2{
position: absolute;
margin:27px 0px 0px 287px;
left: 0; right: 0;
width: 17px;
height: 16px;
background-color: #f8f9fc;
}

.t_txt2{
position: absolute;
margin:48px 0px 0px 276px;
width: 40px;
height: 10px;
background-color: #f8f9fc;
}

.divi{
position: absolute;
margin:17px 0px 0px 337px;
width: 1px;
height: 53px;
border: 2px solid #f8f9fc;
background-color: #f8f9fc;
}

.s_txt{
position: absolute;
margin:27px 0px 0px 352px;
width: 56px;
height: 16px;
background-color: #f8f9fc;
}

.b_txt{
position: absolute;
margin:48px 0px 0px 360px;
width: 40px;
height: 10px;
background-color: #f8f9fc;
}

.s_txt2{
position: absolute;
margin:27px 0px 0px 422px;
width: 56px;
height: 16px;
background-color: #f8f9fc;
}

.b_txt2{
position: absolute;
margin:48px 0px 0px 430px;
width: 40px;
height: 10px;
background-color: #f8f9fc;
}

.shape1{
position: absolute;
margin:17px 0px 0px 512px;
width: 58px;
height: 53px;
border-radius: 4px;
background-color: #f8f9fc;
}

.but{
position: absolute;
margin:24px 0px 0px 643px;
width: 184px;
height: 39px;
border-radius: 46px;
background-color: #f8f9fc;
}

.bg{
position:absolute;
z-index:-999;
margin:0px;
top:0px;
width: 861px;
height: 87px;
border: 1px solid #d5e3f1;
background-color: #ffffff;
}

.spin{
  animation: fad5 16s cubic-bezier(0.645, 0.045, 0.355, 1.000);   
}

.spinner {
  -webkit-animation: rotate 3s infinite cubic-bezier(0.645, 0.045, 0.355, 1.000); 
          animation: rotate 3s infinite cubic-bezier(0.645, 0.045, 0.355, 1.000); 
  z-index: 2;
  position: absolute;
  top: 100px;
  left: 50%;
  margin: -25px 0 0 -25px;
  width: 50px;
  height: 50px;
}
.spinner .path {
  stroke: #3979e6;
  stroke-linecap: round;
  -webkit-animation: dash 1.5s infinite cubic-bezier(0.645, 0.045, 0.355, 1.000); 
          animation: dash 1.5s infinite cubic-bezier(0.645, 0.045, 0.355, 1.000); 
}

@-webkit-keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@-webkit-keyframes dash {
  0% {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -124;
  }
}
@keyframes dash {
  0% {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -124;
  }
}



